.App {
  text-align: center;
}

.header {
  background-color: lightgray;
}
.followers-collumn {
  background-color: ghostwhite;
  width: 300px;
  height: 80vh;
}


.feed {
  background-color: white;
  width: 500px;
}

.suggested {
  background-color: cadetblue;
  width: 300px;
  height: 300px;
}

.container{
  display: flex;
}